.App {
  text-align: center;
}

.finder {
  display: flex;
  justify-content: center;
}

.grass {
  height: 150px;
}

.grass > img {
  width: 120px;
  height: auto;
  cursor: pointer;
}

.pokedex {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}